//
   Created with JetBrains WebStorm.
   User: lihui
   Date: 13-5-6
   Time: 下午2:00
   To change this template use File | Settings | File Templates.
html
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width,initial-scale=1")
        link(rel='stylesheet', href='../../develop/css/mobile.css', type='text/css' )
        script(type="text/javascript",src="../../develop/js/base_mobile.js")
        title 知新平台
    body
        div(data-role="page",data-theme="a",id="page1")
            div(data-role="header",data-theme="inline")
                h1 知新平台
            div(data-role="content")
                ul(data-role="listview", data-inset="true" ,data-divider-theme="f")
                    li(data-icon="arrow-right")
                        a(href="#page2",data-transition="flow") 群组
                    li(data-icon="arrow-right")
                        a 标签
                    li(data-icon="arrow-right")
                        a 搜索
                    li(data-icon="arrow-right")
                        a 个人信息

        div(data-role="page",data-theme="a",id="page2")
            div(data-role="header",data-theme="inline")
                a(href="#page1",data-role="button", data-icon="arrow-l" ,data-iconpos="notext",data-transition="flow")
                h1 知新平台2
                a(href="#", data-role="button", data-icon="plus" ,data-iconpos="notext",data-inline="true")
                br
            div(data-role="content")
                ul(data-role="listview",data-theme="c")
                    li
                        a(href="#page3") 有事就问
                    li
                        a(href="#") 知新会议组
                    li
                        a(href="#") 知新项目组

        div(data-role="page",data-theme="a",id="page3")
            div(data-role="header",data-theme="inline")
                a(href="#page1",data-role="button", data-icon="arrow-l" ,data-iconpos="notext",data-transition="flow")
                h1 知新平台3
                a(href="#", data-role="button", data-icon="plus" ,data-iconpos="notext",data-inline="true")
                div(data-role="tabs")
                    ul
                        li
                            a(href="tab-1") 新鲜主题
                        li
                            a(href="#tab-2") 热门主题
                        li
                            a(href="#tab-3") 组内用户
                br
            div(data-role="content")
                div#tab-1
                    h2 我是tab1
                div#tab-2
                    h2 我是tab2
                div#tab-3
                    h2 我是tab3

