//
   Created with JetBrains WebStorm.
   User: lihui
   Date: 13-5-6
   Time: 下午2:00
   To change this template use File | Settings | File Templates.
html
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width,initial-scale=1")
        link(rel='stylesheet', href='../../develop/css/mobile.css', type='text/css' )
        script(type="text/javascript",src="../../develop/js/base_mobile.js")
        script(type="text/javascript",src="../../develop/js//modules/mobile.js",data-main="mobile")
        title 知新平台
    body
        div(data-role="page",data-theme="a")
            div(data-role="header",data-theme="inline")
                h1 知新平台
            div(data-role="content")
                ul(data-role="listview", data-inset="true" ,data-divider-theme="f")
                    li(data-icon="arrow-right")
                        a(href="#team",data-transition="slide") 群组
                    li(data-icon="arrow-right")
                        a 标签
                    li(data-icon="arrow-right")
                        a 搜索
                    li(data-icon="arrow-right")
                        a 个人信息


        .pull-demo-page(data-role="page",data-theme="a",id="team")
            div(data-id="header", data-position="fixed", data-role="header", data-tap-toggle="false", data-transition="none")
                a(data-rel="back",data-role="button", data-icon="arrow-l" ,data-iconpos="notext",data-transition="flow")
                h1(data-role="heading") 我的群组
                a(href="#addTeam", data-role="button",data-icon="gear",data-iconpos="notext",data-inline="true",data-transition="slide")
            div(data-role="content",data-iscroll="")
                ol(data-filter="true",data-role="listview",data-theme="c",data-filter-placeholder="过滤已加载数据...")
                .iscroll-pullup
                    span.iscroll-pull-icon
                    span.iscroll-pull-label(data-iscroll-loading-text="正在加载数据...",pullUpLoadingText="释放开始加载数据")

        div(data-role="page",data-theme="a",id="addTeam")
            div(data-role="header",data-theme="inline")
                a(data-rel="back",data-role="button", data-icon="arrow-l" ,data-iconpos="notext",data-transition="flow")
                h1(data-role="heading") 创建群组
            div(data-role="content",data-iscroll="")
                form
                    ul(data-role="listview",data-inset="true",data-theme="c")
                        li
                            label 群组名
                            input.required(type="text", data-clear-btn="true",data-theme="c", name="text-3", value="",placeholder="群组名")
                        li
                            label(for="text-3",class="select") 群组简介
                            textarea(cols="40",rows="8", data-clear-btn="true",data-theme="c", name="text-3", value="",placeholder="群组简介")
                    ul(data-role="listview",data-inset="true",data-theme="c")
                        li
                            label(for="select",class="select") 群组类型:
                            select(name="select",data-theme="c",data-native-menu="false")
                                option  公开
                                option  半公开
                                option  私密
                    ul(data-role="listview",data-inset="true",data-theme="c")
                        li
                            label 群组成员
                            select(name="select",multiple="multiple",data-native-menu="false",data-icon="grid",data-iconpos="left",data-theme="c")
                                option  选择群组成员
                                option  李辉
                                option  李慧慧
                    ul(data-role="listview",data-inset="true",data-theme="c")
                        li
                            button(class="btnLogin",type="submit",data-theme="b") 提交