

.navbar
    .navbar-inner
        .container
            a.btn.btn-navbar(data-toggle="collapse",data-target=".navbar-responsive-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
        a.brand(href="#") 前端新框架
        .nav-collapse.collapse.navbar-responsive-collapse
            ul#topMenuUl.nav.pull-left
            form.navbar-search.pull-right(action="")
                input.search-query.span2(type="text",placeholder="搜索")

script#topMenu(type="text/template")
    <% _.each(data, function(data) {%>
    li.dropdown
         a.dropdown-toggle(href="#",data-toggle="dropdown")
             <%=data.name%>
             b.caret
         <% if(!_.isEmpty(data.children)){%>
         ul.dropdown-menu
               <% _.each(data.children, function(data) {%>
               li
                    a(href="#")
                         <%=data.name%>
               <% }); %>
         <%}%>
    <% }); %>









　　　　　　