search = ' Search '
modify = ' Modify '
remove = ' Delete '
add =' Add '
cancel = ' Cancel '
save = ' Save '
manipulation = 'Manipulation'
ok =' OK '
yes =' Yes '
no =' No '
dataGridPagePugin =[' ',' of ',' items ',' Per Page ',' Page ',' of ',' ']
noSelected ='Please select a column of data!'
noItem ='no result!'
fromLabel ='From'
toLabel ='To'
customRangeLabel ='Custom Range'
daysOfWeek =['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa']
monthNames =['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
today ='Today'
yestoday ='Yestoday'
last7days ='Last 7 Days'
last30days ='Last 30 Days'
thisMonth ='This Month'
lastMonth ='Last Month'
days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
daysShort = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat','Sun']
daysMin = ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su']
monthsShort =  ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul','Aug', 'Sep', 'Oct', 'Nov', 'Dec']
selectFile ='Select Files'
uploadErrorMsg =['Some files were not added to the queue:','The file named  ',' is already in the queue.Do you want to replace the existing item in the queue?','The number of files selected exceeds the remaining upload limit','The number of files selected exceeds the queue size limit','exceeds the size limit','is empty','is not an accepted file type','HTTP Error','Missing Upload URL','IO Error','Security Error','The upload limit has been reached','Exceeds Upload Limit','Validation Error','already exists on the server.Would you like to replace the existing file?']
file ='The file'
error ='Error'
fail ='Failed'
stop ='Stopped'
finish ='Complete'
selecteOptions ='Select Some Options'
selecteOption ='Select an Option'
noResults ='No results match'
v_required =['* This field is required','* Please select an option','* This checkbox is required','* Both date range fields are required']
v_dateRange =['* Invalid','Date Range']
v_dateTimeRange =['* Invalid','Date Time Range']
v_minSize =['* Minimum ',' characters required']
v_maxSize =['* Maximum ',' characters allowed']
v_groupRequired =['* You must fill one of the following fields']
v_min =['* Minimum value is ']
v_max =['* Maximum value is ']
v_past =['* Date prior to ']
v_future =['* Date past']
v_maxCheckbox =['* Maximum ','options allowed']
v_minCheckbox =['* Please select ','options']
v_equals =['* Fields do not match']
v_creditCard =['* Invalid credit card number']
v_phone =['* Invalid phone number']
v_email =['* Invalid email address']
v_integer =['* Not a valid integer']
v_number =['* Invalid floating decimal number']
v_date =['* Invalid date, must be in YYYY-MM-DD format']
v_ipv4 =['* Invalid IP address']
v_url =['* Invalid URL']
v_onlyNumberSp =['* Numbers only']
v_onlyLetterSp =['* Letters only']
v_onlyLetterNumber =['* No special characters allowed']
v_dateFormat =['* Invalid Date']
v_dateTimeFormat =['* Invalid Date or Date Format','Expected Format: ','mm/dd/yyyy hh:mm:ss AM|PM or ','yyyy-mm-dd hh:mm:ss AM|PM']



userManagement = 'User Management'
customerID ='Customer ID'
customerName ='Customer Name'
address ='Address'
linkman ='Linkman'
postCode ='Post Code'
phone ='Phone'
email ='Email'
cityName ='City Name'


include gotoJs